:root{
  --accent-color:#FF6C00;
  --main-text-color: #9DA4BD;
  --secondary-text-color: #555555;
  --header--text-color: #303030;
  --header-text-invrsion-color: #FFFFFF;
  --temprary-bg-color: teal;
}



body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--main-text-color)
}
.list{
  list-style: none;
}
.link{
  text-decoration: none; 
}
.link:hover, .link:focus{
  color: var(--accent-color)
}
.btn {
  font-family: inherit;
  cursor: pointer;
}
.btn:hover, .btn:focus{
  color: var(--accent-color)
}
header{
  background-color: var(--temprary-bg-color);
}
.main-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: var(--header-text-invrsion-color);
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
}
.secondary-btn{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--header--text-color);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
}
.sub-title{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

/* navigation */
.nav-link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color:var(--header-text-invrsion-color)
}
.nav-tel{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-invrsion-color)
}

/* social link */
.social-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--header--text-color)
}

/* Hero */
.hero{
  background-color: var(--temprary-bg-color);
}
.hero-head{
    color: rgba(157, 164, 189, 0.6);
}
.hero-name{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--header-text-invrsion-color)
}
.hero-text{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* about */
.section-about{
  
}
.about{
    color: var(--header--text-color);
}
.about-head{
   font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.67;
    letter-spacing: 0.05em;
    color: var(--header--text-color);
}
.about-paragraph{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.about-text{
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* price */
.price-section{
  background-color: var(--temprary-bg-color);
}
.price-slogan{
    color: rgba(157, 164, 189, 0.6);
}
.price{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--header-text-invrsion-color);
}

/* advantage */
.advantage-list>li {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36
  text-align: center;
  color: var(--header--text-color);
}
.advantage-number{
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--header--text-color);
}
.advantage-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--header--text-color);
}
.advantage-text{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.sub-traditional{
  color: var(--header--text-color);
}
/* barbers */
.barbers-section{
  background-color: #F7F7F7;
}
.sub-barber{
  color: var(--header--text-color);
}
.barbers-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--header--text-color);
}
.name > h3{
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header--text-color);
}
.name > p{
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}